<ion-view view-title="Contact Us">
  <ion-content>
    <h1>Contact Us</h1>


      <div class="card">
          <div class="item item-divider">
            Location Info 
            <span class="badge badge-assertive">{{promotion.label}}</span>
          </div>
          <div class="item item-text-wrap">
              
              
                <p>Our Address</p>

<p>121, Clear Water Bay Road</p>
<p>Clear Water Bay, Kowloon
<p>HONG KONG</p>
<p class="ion-iphone"> Tel: +852 1234 5678</p>
<p class="ion-ios-copy-outline"> Fax: +852 8765 4321</p>
<p class="ion-email"> Email: confusion@food.net</p>
          </div>

  <div class="button-bar">
  <a class="button button-positive ion-android-call"> Call</a>
  <a class="button button-calm ion-social-skype"> Skype</a>
  <a class="button button-balanced ion-email"> Email</a>
</div>



      </div>
  </ion-content>
</ion-view>